
.idea/inspectionProfiles/profiles_settings.xml

.idea/McLatam.iml

.idea/misc.xml

.idea/vcs.xml

.idea/modules.xml

.chromedriver

.DS_Store

scrapers/__pycache__/firebase.cpython-311.pyc

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39__Changes_.xml

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46__Changes_.xml

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53__Changes_.xml

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

mclatam/package-lock.json

mclatam/package.json

scrapers/BID/__pycache__/scraper_bid.cpython-311.pyc

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

mclatam/.firebase/hosting.YnVpbGQ.cache

mclatam/firestore.indexes.json

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

scrapers/BANCO_MUNDIAL/__pycache__/scraper_banco_mundial.cpython-311.pyc

scrapers/ComunidadAndina/__pycache__/scraper_comunidad_andina.cpython-311.pyc

scrapers/DevelopmentBusiness/__pycache__/scraper_development.cpython-311.pyc

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

scrapers/FONPLATA/__pycache__/scraper_fonplata.cpython-311.pyc

scrapers/OEA/__pycache__/scraper_oea.cpython-311.pyc

scrapers/Procurement/__pycache__/scraper_procurement_notices.cpython-311.pyc

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_39_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_46_\[Changes\]/shelved.patch

.idea/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_16_53_\[Changes\]/shelved.patch

scrapers/NUG/__pycache__/scraper_naciones_unidas_global.cpython-311.pyc
