.expediente-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    max-height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 1%;
    margin-top: 3%;
}


h2 {
    color: #333;
    margin-bottom: 16px;
}

.expediente-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.expediente-item {
    color: #333;
    font-size: 18px;
    margin-bottom: 8px;
    flex-basis: calc(50% - 10px);
    transition: all 0.3s ease;
}



.expediente-item strong {
    font-weight: bold;
}
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}

.ReactModal__Content {
    position: relative;
    width: 50%;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}


/* Estilos para el contenedor de detalles */
.modal-fila-detalles {
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    align-items: start;     /* Alinea los elementos hijos a la izquierda */
    padding: 10px;          /* Proporciona algo de espacio interno */
}

/* Estilos para el título */
.modal-fila-detalle-nombre {
    font-weight: bold;      /* Hace que el título sea en negrita */
    margin-bottom: 8px;     /* Añade algo de margen en la parte inferior para separarlo del contenido */
    font-size: 1.2em;       /* Aumenta el tamaño del texto para destacarlo */
    color: #333;            /* Color oscuro para el texto */
}

/* Estilos para el contenido */
.modal-fila-detalle-valor {
    font-size: 1em;         /* Tamaño estándar del texto */
    color: #555;            /* Color más claro que el título */
}
.sin-expediente-container{
    color: #333;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 5%; 
}
.expediente-button {
    margin-top: 5%;  
    padding: 10px 20px;
    background-color: #FFC107;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 0;
}


.expediente-button:hover {
    background-color: #FFA000;
}
