.buttons-container {
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.botonArribaDerecha {
    background-color: #ccc;
    border: none;
    color: white;
    position: absolute;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    top: 30%; /* Ajusta la posición arriba */
    right: 0; /* Ajusta la posición derecha */
    margin: 10px; /* Ajusta el margen si es necesario */
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.container {
    text-align: center;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    width: 60%; /* Establece el ancho del contenedor */
    margin-top: 5%;
}

.button:hover {
    opacity: 0.8;
}

.enviar {
    background-color: #3d07ff;
}

.no-sirve {
    background-color: #f44336;
}

.avanzar {
    background-color: #FFC107;
}

.enviar_reporte {
    background-color: #4CAF50;
}
